name: Build, test, and push Docker Images
on:
  push:
    branches:
      - "master"
      - "beta"
    paths:
      - ".github/workflows/*"

      - "images/**"
      - "!images/*/README.md"
      - "tests/**"
      - "!tests/README.md"
      - "requirements-dev.txt"
  pull_request:
    paths:
      - ".github/workflows/*"
      
      - "images/**"
      - "!images/*/README.md"
      - "tests/**"
      - "!tests/README.md"
      - "requirements-dev.txt"

jobs:
  vars:
    runs-on: ubuntu-latest
    outputs:
      REGISTRY_NAME: "k8scc01covidacr.azurecr.io"
      branch-name: ${{ steps.getBranch.outputs.branch-name }}
    steps:
      - uses: actions/checkout@v4

      - name: Get branch name
        id: getBranch
        run: |
          chmod +x ./make_helpers/get_branch_name.sh
          BRANCH_NAME=$(./make_helpers/get_branch_name.sh)
          echo "branch-name=$BRANCH_NAME"
          echo "branch-name=$BRANCH_NAME" >> $GITHUB_OUTPUT

  jupyterlab-ext:
    needs: [vars]
    uses: ./.github/workflows/docker-steps.yaml
    with:
      image: "jupyterlab-ext"
      directory: "jupyterlab-ext"
      base-image: "k8scc01covidacr.azurecr.io/sas-kernel:v2"
      registry-name: "${{ needs.vars.outputs.REGISTRY_NAME }}"
      branch-name: "${{ needs.vars.outputs.branch-name }}"
    secrets:
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}

  # Test the Images

  jupyterlab-ext-test:
    needs: [vars, jupyterlab-ext]
    uses: ./.github/workflows/docker-pull-test.yaml
    with:
      image: "jupyterlab-ext"
      registry-name: "${{ needs.vars.outputs.REGISTRY_NAME }}"
      tag: "${{ needs.vars.outputs.branch-name }}"
    secrets:
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
      CVE_ALLOWLIST: ${{ secrets.CVE_ALLOWLIST}}
